.AlterarFotoPerfil{
    background-color: var(--background);
    min-height: 100vh;
    min-width: 100%;
    padding-top: 40px;
    .container{
        background-color: var(--whiteDiferente);
        display: flex;
        flex-direction: column;
        min-width: 100%;
        .top{
            min-width: 100%;
            display: flex;
            justify-content: space-between;
            .ArrowBackOutline{
                color: black;
                max-width: 22px;
                max-height: 22px;
            }
            
            .nada{
                width: 1px;
                height: 1px;
            }
        }
    }
}